* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    backdrop-filter: blur(55px);
}

h2 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.inputBox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.inputBox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.inputBox input {
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 5px;
    color: #fff;
}

/* Khi input được focus hoặc có dữ liệu, label di chuyển lên */
.inputBox input:focus + label,
.inputBox input:not(:placeholder-shown) + label {
    top: -15px; /* Label di chuyển lên trên */
    left: 5px;
    color: pink; /* Màu nổi bật khi nhập */
    font-size: 0.85rem; /* Nhỏ hơn so với trạng thái ban đầu */
    font-weight: bold;
}

.inputBox ion-icon {
    position: absolute;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}

.forget {
    margin: 35px;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;
}

.forget a {
    color: pink;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover {
    text-decoration: underline;
}

button {
    width: 300px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}
